---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import BlobBackground from '../components/BlobBackground.astro'
import BlurryDivider from '../components/BlurryDivider.astro'
import Image from 'astro/components/Image.astro'

import reiter_wiki from '../assets/img/concept/reiter_wiki.png'
import reading from '../assets/img/concept/reading.jpg'
import css_colors from '../assets/img/concept/css_colors.png'
import boxen from '../assets/img/concept/boxen.png'

---

<DefaultLayout title="HubTWK – Präsentation" stickyHeader={false}>
  <div class="container">
      <BlobBackground />
    <div class="h-screen">
      <div class="my-auto sticky top-64 text-center">
        <svg id="hubtwk-logo" class="mx-auto pt-16" width="500" xmlns="http://www.w3.org/2000/svg" viewBox="0 100 500 270" xmlns:bx="https://boxy-svg.com">
          <path opacity="0" d="M 231.815 160.178 L 231.815 153.178 L 233.714 153.178 L 233.714 160.106 Q 233.714 161.748 234.355 162.569 Q 234.995 163.389 236.275 163.389 Q 237.814 163.389 238.707 162.408 Q 239.6 161.428 239.6 159.734 L 239.6 153.178 L 241.5 153.178 L 241.5 164.742 L 239.6 164.742 L 239.6 162.966 Q 238.908 164.019 237.994 164.53 Q 237.08 165.041 235.872 165.041 Q 233.88 165.041 232.847 163.802 Q 231.815 162.563 231.815 160.178 Z M 236.595 152.899 Z M 255.714 158.97 Q 255.714 156.874 254.852 155.682 Q 253.989 154.489 252.482 154.489 Q 250.974 154.489 250.112 155.682 Q 249.25 156.874 249.25 158.97 Q 249.25 161.066 250.112 162.259 Q 250.974 163.451 252.482 163.451 Q 253.989 163.451 254.852 162.259 Q 255.714 161.066 255.714 158.97 Z M 249.25 154.933 Q 249.849 153.901 250.763 153.4 Q 251.677 152.899 252.947 152.899 Q 255.053 152.899 256.369 154.572 Q 257.686 156.244 257.686 158.97 Q 257.686 161.696 256.369 163.369 Q 255.053 165.041 252.947 165.041 Q 251.677 165.041 250.763 164.541 Q 249.849 164.04 249.25 163.007 L 249.25 164.742 L 247.34 164.742 L 247.34 148.676 L 249.25 148.676 Z" transform="matrix(7.000949, 0, 0, 6.363063, -1456.832275, -870.455078)" style="line-height: 29.0785px; fill: var(--font-color);">
          <animateMotion path="M -138.136 162.007 C -175.256 107.692 -30.624 20.102 -14.264 31.51" calcMode="spline" begin="indefinite" dur="1.38s" fill="freeze" keyTimes="0; 1" keyPoints="0; 1" keySplines="0.25 0.1 0.25 1"/>
          <animate attributeName="opacity" values="0;1" begin="indefinite" dur="0.86s" fill="freeze" keyTimes="0; 1"/>
          </path>
          <rect x="33" y="245" width="16" height="100" style="fill: var(--font-color);">
          <animateTransform type="translate" additive="sum" attributeName="transform" values="0 0;0 -135" begin="indefinite" dur="1s" fill="freeze" keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"/>
          </rect>
          <rect x="58" y="285" width="40.44" height="15" style="fill: var(--font-color);">
          <animateTransform type="translate" additive="sum" attributeName="transform" values="0 0;0 -135" begin="indefinite" dur="1s" fill="freeze" keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"/>
          </rect>
          <rect x="145" y="245" width="90" height="16" style="fill: var(--font-color);"/>
          <rect x="182" y="258.199" width="16" height="88.021" style="fill: var(--font-color);"/>
          <rect x="108" y="245" width="16" height="100" style="fill: var(--font-color);">
          <animateTransform type="translate" additive="sum" attributeName="transform" values="0 0;0 -135" begin="indefinite" dur="1s" fill="freeze" keyTimes="0; 1" calcMode="spline" keySplines="0.25 0.1 0.25 1"/>
          </rect>
          <path d="M 280.361 342.108 L 250.059 244.808 L 268.963 244.808 L 286.199 302.215 Q 287.172 305.273 287.936 308.818 Q 288.701 312.362 289.257 315.698 Q 290.508 310.555 291.272 307.636 Q 292.037 304.717 293.01 302.076 L 309.412 260.098 L 324.841 260.098 L 340.826 302.076 Q 342.077 305.551 343.05 308.679 Q 344.023 311.806 344.718 314.864 Q 345.135 312.362 345.691 309.791 Q 346.247 307.219 347.776 301.937 L 364.873 244.808 L 383.638 244.808 L 353.197 342.108 L 340.131 342.108 L 316.362 285.257 L 293.566 342.108 Z M 399.061 342.108 L 399.061 244.808 L 417.131 244.808 L 417.131 288.454 L 460.638 244.808 L 483.295 244.808 L 441.456 285.535 L 484.824 342.108 L 462.862 342.108 L 429.224 297.489 L 417.131 309.304 L 417.131 342.108 Z" style="fill: var(--font-color);"/>
        </svg>
        <h1>Unser Konzept</h1>
      </div>
    </div>
    
    <div class="h-screen">
      <BlurryDivider />
      <div class="sticky top-64 text-center">
        <h1>Inhalt</h1>
        <h3>Darstellung des Themas</h3>
        <p>Über Textabsätze, Überschriften, Bilder und Codebeispiele
        </h5>
        <p> </p>
        <h3>Ziel der Präsentation</h3>
        <p>Einstieg in Konzepte des Programmierens mithilfe von Beispielen von geschriebenem Code. </br> 
         Alle Beispiele werden in mehreren Sprachen erklärt (C++, Java, Python)</br>
          Einblick in die genutzten Frameworks und Hilfsprogramme </br>
          Einfach zugänglich für jedermann.
        </p>    
      </div>
    </div>

    <div class="h-screen">
      <BlurryDivider />
      <div class="sticky top-64 text-center">
        <h1>Aufbau</h1>
        <h3>In verschiedene Seiten gegliedert:</h3>
        </br>
        <h3>1 Einführungsseite</h3>
        <h3>1 Technologieseite</h3>
        <h3>5 Wikiseiten</h3>
        <h3>2 Herausforderungsseiten</h3>
        <h3>1 Konzeptseite</h3>
       
      </div>
    </div>
  
    <div class="h-screen">
      <BlurryDivider />
      <div class="sticky top-64 text-center">
        <h3>Navigationsstruktur</h3>
        <p>Die Wikiseiten und Herausforderungsseiten sind durch einen Reiter zu finden</p>
        </br>
        <Image class="mx-auto rounded-lg" src= {reiter_wiki} alt="reiter_wiki" width={400} height={200}/>
        
        <p class="text-xs">Quelle: Screenshot</p>

      </div>
    </div>
    <div class="h-screen">
      <BlurryDivider />
      <div class="sticky top-64 text-center">


        <p>Außerdem befinden sich am unteren Ende der Seiten Boxen,</br>
        mit denen man zwischen den Seiten navigieren kann </p>

        <Image class="mx-auto rounded-lg" src= {boxen} alt="boxen" width={1000} height={500}/>
        
        <p class="text-xs">Quelle: Screenshot</p>
      </div>
    </div>
    <div class="h-screen">
      <BlurryDivider />
      <div class="sticky top-64 text-center">
        <h1>Seitenstruktur</h1>
        <p>Die Seiten sind im Stil westlicher Kulturräume gestaltet,</br> es wird von links nach rechts gelesen. 
        </p>
        <Image class="mx-auto rounded-lg" src= {reading} alt="reading" width={400} height={200}/>
        
        <p class="text-xs">Quelle: unsplash.com</p>
        
      </div>
    </div>

    <div class="h-screen">
      <BlurryDivider />
      <div class="sticky top-64 text-center">
        <h1>Layout</h1>
        <h3>Kombination von Text und Bild 
        </h3>
        <p>Meiste markante großte Überschrift, dann kurzer Text und großes Bild oder Code-Beispiel
        <br>
        Bild oder Code Beispiel nicht von links oder rechts benachbart --> somit volle Aufmerksamkeit auf dem Bild. 
        </p>

        <h3>Farbkonzept 
        </h3>
        <p>Implementierter Dark-Mode und Lightmode
        <br>
        <Image class="mx-auto rounded-lg" src= {css_colors} alt="css_colors" width={400} height={200}/>
        
        <p class="text-xs">Quelle: Der Code des Projekts</p>
        </br>
        Grundfarben: Schwarz, Weiß und Violett
        </br>
        </br>
        Violett: Die Farbe steht für Kraft und Transformation,
        </br> ist somit symbolisch für die digitale Transformation in Deutschland, die durch diesen Studiengang voran getragen wird.
        </p>
        <p class="text-xs">Quelle: https://alpina-farben.de/artikel/farbsymbolik-bedeutung-violett-lila/</p>
        </br>
        <p> Außerdem benutzen wir einen besonderen Font. </br>
        Lexend verspricht auf ihrer Website, dass die Verwendung dieses Fonts die Lese-Geschwindigkeit erhöht. </br> 
        Damit wird auch Menschen mit Lese-Beeinträchtigung die Nutzung unserer Website ermöglicht. 
        </p>
        <p class="text-xs">Quelle: https://www.lexend.com/</p>
        

      </div>
    </div>

    <div class="h-screen">
      <BlurryDivider />
      <div class="sticky top-64 text-center">
 
        <h3>Typografische Aspekte 
        </h3> 
        <p> Bei den Präsentationsfolien sind die Texte zentriert
          → Dient dem Gedanke einer Präsentation.
        </br>  Beim Wiki sind die Texte linksbündig. 
           Linksbündigkeit ist besser zum Lernen und Verstehen. 
        </br> 
          Außerdem passt es besser zu den Code-Beispielen da Code auch immer ausschließlich linksbündig geschrieben wird.
        </p>
        <p class="text-xs">Quelle: ttps://www.onlineprinters.de/magazin/textausrichtung-zeilenlaenge/
        </p>
        </br>
        </br>
       </br>
        <h3>Proportionen, Abstände 
        </h3> 
        <p>Viele Abstände und Proportionen sind durch Markdown schon festgelegt.
        </br>Andere haben wir über Tailwind CSS festgelegt.  Diese finden sich im Quellcode.
        </p>

      </div>
    </div>
  </div>

  

</DefaultLayout>

<script>
  let shouldAnimate = true;

  document.body.onscroll = () => {
    if (shouldAnimate && document.body.scrollHeight > 10) {
      document.querySelectorAll("#hubtwk-logo animate, #hubtwk-logo animateTransform, #hubtwk-logo animateMotion").forEach((animationElement) => {
        animationElement.beginElement();
      });
      shouldAnimate = false;
    }
  }
</script>
<style is:global>
  .blob-container {
    top: calc(50vh - 25%);
  }
</style>

