---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import LinuxCommands from '../components/LinuxCommands.astro'

const fileManagementCommands = [
	{
		title: "Navigation im Dateisystem",
		icon: "ion:compass-outline",
		description: 
		"<code><strong>ls</strong></code> – Zeigt die Inhalte des aktuellen Arbeitsverzeichnisses"+"<br>"+
		"<code><strong>cd</strong></code> – Wechselt zum Homeverzeichnis (= dein Benutzerverzeichnis in /home/{Benutzername})"+"<br>"+
		"<code><strong>cd ..</strong></code> – Wechselt zum übergeordneten Verzeichnis"+"<br>"+
		"<code><strong>cd {Ordner}</strong></code> – Ändert das aktuelle Arbeitsverzeichnis zum angegebenen Ordner"+"<br>"+
		"<code><strong>cd /</strong></code> – Wechselt zum Wurzelverzeichnis (Systemdateien, nur als Admin)"+"<br>",
	},
	{
		title: "Aktionen im Dateisystem",
		icon: "ion:document-outline",
		description: 
		"<code><strong>mkdir {Ordner}</strong></code> – Legt ein neues Verzeichnis an"+"<br>"+
		"<code><strong>cp {Quelldatei/-ordner} {Zieldatei/-ordner}</strong></code> – Kopiert eine Datei oder ein Verzeichnis"+"<br>"+
		"<code><strong>mv {Quelldatei/-ordner} {Zieldatei/-ordner}</strong></code> – Verschiebt eine Datei oder ein Verzeichnis"+"<br>"+
		"<code><strong>rm {Datei(en)}</strong></code> – Löscht Datei(en) dauerhaft"+"<br>"+
		"<code><strong>rm -r {Ordner}</strong></code> – (rekursiv) Löscht einen Ordner mitsamt seinen Inhalten dauerhaft"+"<br>"+
		"<code><strong>rm -f {Datei(en)}</strong></code> – (force) Löscht auch geschützte Datei(en) dauerhaft"+"<br>"+
		"<code><strong>nano {Datei}</strong></code> – Textdateien ansehen, bearbeiten und (wenn nicht vorhanden) erstellen"+"<br>",
	},
  	{
		title: "Verwaltung von Dateirechten",
		icon: "ion:document-lock-outline",
		description: 
		"<code><strong>chmod u+rwx {Datei/-ordner}</strong></code> – Gibt dem [u]Besitzer [r]Lese- [w]Schreib- und [x]Ausführrechte für die angegebene Datei"+"<br>"+
    	"<code><strong>chmod g+rw {Datei/-ordner}</strong></code> – Gibt der [g]Gruppe [r]Lese- und [w]Schreib-rechte für die angegebene Datei"+"<br>"+
    	"<code><strong>chmod a+r {Datei/-ordner}</strong></code> – Gibt [a]allen Nutzer:innen [r]Leserechte für die angegebene Datei"+"<br>",
	},
	{
		title: "Netzwerkzugriff",
		icon: "ion:globe-outline",
		description: 
		"<code><strong>ssh {nutzername}@{host}</strong></code> – Auf Kommandozeile eines entfernten Rechners zugreifen"+"<br>"+
		"<code><strong>ssh {nutzername}@{host} -p {port}</strong></code> – Auf Kommandozeile eines entfernten Rechners mit geändertem Port zugreifen"+"<br>"+
    	"<code><strong>scp {Quelldatei} {nutzername}@{host}:{Zieldatei}</strong></code> – Kopiert eine Datei vom lokalen auf einen entfernten Rechner"+"<br>"+
    	"<code><strong>scp -r {Quellordner} {nutzername}@{host}:{Zielordner}</strong></code> – Kopiert einen Ordner vom lokalen auf einen entfernten Rechner"+"<br>",
	},
];
const utilityCommands = [
	{
		title: "Systeminformationen",
		icon: "ion:hardware-chip-outline",
		description: 
		"<code><strong>cat /etc/lsb-release</strong></code> – Erfahre Name und Version der Linux-Distribution"+"<br>"+
		"<code><strong>htop</strong></code> – Zeigt laufende Prozesse und die Ressourcennutzung"+"<br>",
	},
  	{
		title: "Administration",
		icon: "ion:build-outline",
		description: 
		"<code><strong>su</strong></code> – Wechselt zum Superuser (root)"+"<br>"+
		"<code><strong>su {Nutzername}</strong></code> – Wechselt zum definierten Benutzer"+"<br>"+
    	"<code><strong>sudo {Befehl}</strong></code> – Führt einen Befehl mit root-Privilegien aus"+"<br>",
	},
];
const packagingCommands = [
	{
		title: "Alpine Linux",
		icon: "simple-icons:alpinelinux",
		description: 
		"<code><strong>apk add {Paketname}</strong></code> – Installiere ein Paket"+"<br>"+
		"<code><strong>apk del {Paketname}</strong></code> – Entferne ein Paket"+"<br>",
	},
	{
		title: "Arch Linux",
		icon: "simple-icons:archlinux",
		description: 
		"<code><strong>pacman -S {Paketname}</strong></code> – Installiere ein Paket"+"<br>"+
		"<code><strong>pacman -R {Paketname}</strong></code> – Entferne ein Paket"+"<br>",
	},
  	{
		title: "Debian Linux (+ Ubuntu/Mint)",
		icon: "simple-icons:debian",
		description: 
		"<code><strong>apt install {Paketname}</strong></code> – Installiere ein Paket"+"<br>"+
		"<code><strong>apt remove {Paketname}</strong></code> – Entferne ein Paket"+"<br>",
	},
	{
		title: "Fedora Linux",
		icon: "simple-icons:fedora",
		description: 
		"<code><strong>dnf search {Paketname}</strong></code> – Suche nach einem Paket"+"<br>"+
		"<code><strong>dnf install {Paketname}</strong></code> – Installiere ein Paket"+"<br>"+
		"<code><strong>dnf remove {Paketname}</strong></code> – Entferne ein Paket"+"<br>",
	},
];
const fileConverterCommands = [
	{
		title: "Bilder",
		icon: "ion:image-outline",
		description: 
		"<h4>Benötigt ImageMagick (muss evtl. manuell installiert werden)</h4>"+"<br>"+
		"<code><strong>magick {Datei}.jpg {Datei}.png</strong></code> – Konvertiert ein Bild von JPG nach PNG"+"<br>"+
		"<code><strong>magick {Datei}.png -rotate 90 {Datei}.webp}</strong></code> – Konvertiert ein Bild von PNG nach WebP und dreht es um 90 Grad"+"<br>"+
		"<code><strong>magick {Datei}.webp -resize 50% {Datei}.webp}</strong></code> – Halbiert die Auflösung eines Bildes"+"<br>"+
		"<code><strong>mogrify -format webp -path ./compact/ *.png}</strong></code> – Konvertiert alle PNG-Bilder im aktuellen Ordner nach WebP und speichert sie im Unterordner \"compact\""+"<br>"+
		"<code><strong>mogrify -format webp -scale 35% *.jpeg}</strong></code> – Konvertiert alle JPEG-Bilder im aktuellen Ordner nach WebP und reduziert die Auflösung"+"<br>",
	},
  	{
		title: "Video",
		icon: "ion:film-outline",
		description: 
		"<h4>Benötigt FFMpeG (muss evtl. manuell installiert werden)</h4>"+"<br>"+
		"<code><strong>ffmpeg -i {Datei}.mkv {Datei}.webm</strong></code> – Konvertiert ein Video von MKV nach WebM"+"<br>"+
		"<code><strong>ffmpeg -i {Datei}.webm {Datei}.mp4</strong></code> – Konvertiert ein Video von WebM nach MP4"+"<br>"+
		"<code><strong>for i in *.avi; do ffmpeg -i \"$i\" \"${i%.*}.mp4\"; done</strong></code> – Konvertiert alle AVI-Dateien im aktuellen Ordner nach MP4 (in Bash-Shell)"+"<br>",
	},
	{
		title: "Audio",
		icon: "ion:musical-notes-outline",
		description: 
		"<h4>Benötigt FFMpeG (muss evtl. manuell installiert werden)</h4>"+"<br>"+
		"<code><strong>ffmpeg -i {Datei}.mp3 {Datei}.ogg</strong></code> – Konvertiert eine Audiodatei von MP3 nach OGG"+"<br>"+
		"<code><strong>ffmpeg -i {Datei}.wav {Datei}.m4a</strong></code> – Konvertiert eine Audiodatei von WAV nach M4A/AAC"+"<br>"+
		"<code><strong>for i in *.mp3; do ffmpeg -i \"$i\" \"${i%.*}.wav\"; done</strong></code> – Konvertiert alle MP3-Dateien im aktuellen Ordner nach WAV (in Bash-Shell)"+"<br>",
	},
];
---

<DefaultLayout title="Linux-Befehle">
  <section class="my-12">
    <div class="container">
      <h1>Linux-Befehle</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">Mit diesen Befehlen meisterst du Linux im Handumdrehen</p>
      <LinuxCommands title="Dateimanagement" commands={fileManagementCommands} />
      <LinuxCommands title="Werkzeuge" commands={utilityCommands} />
      <LinuxCommands title="Paketverwaltung (mit Adminrechten)" commands={packagingCommands} />
	  <LinuxCommands title="Dateikonvertierung" commands={fileConverterCommands} />
    </div>
  </section>
</DefaultLayout>
